label {
    display: block;
    margin: 5px 0;
}

h1,
footer {
    text-align: center;
}

h1 {
    color: aquamarine;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 5px;
    border-bottom: 1px solid #aaa;
}