// Color palette
@fontsAndAccents: #1E90FF;

// Styles
@border-radius: 15px;

// Globals
label {
    display: block;
    margin: 5px 0;
}

h1,
footer {
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 4px;
    left: 0;
    color: @fontsAndAccents;
}

h1 {
    margin-top: 0;
    top: 0;
    background-image: linear-gradient(#708090, #dcdcdc);
}

h2 {
    margin-left: 29%;
    text-align: center;
    color: @fontsAndAccents;
    background-image: linear-gradient(#708090, #dcdcdc);
    padding: 3px;
    width: 45%;
}

footer {
    bottom: 0;
    background-image: linear-gradient(#dcdcdc, #708090);
}

.home-nav {
    float: left;
    color: @fontsAndAccents !important;
    font-size: 16px;
    border-right: 2px ridge #dcdcdc;
    padding: 8px;
}

a,
a:visited {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

.return {
    position: relative;
    margin: 2% 0 8% 5%;
}

.submit {
    border-radius: 15px;
}

.submit:hover {
    background-color: @fontsAndAccents;
    border-radius: 15px;
}

// Index
.index-h2 {
    margin-top: 15%;
}

ul {
    list-style: none;
    margin-left: 37%;
    padding-top: 8px;
    font-weight: bold;
    font-family: sans-serif;
}

blockquote {
    margin-top: 8%;
    text-align: center;
    position: relative;
    font-weight: bold;
}

// Create a user
.create-h2 {
    margin-top: 8%;
}

.create-form {
    background-color: #dcdcdc;
    width: 25%;
    padding: 25px;
    border: 2px ridge @fontsAndAccents;
    border-radius: 15px;
    margin: 0 0 5% 36%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

// Read users
.read-header,
.results-header {
    margin-top: 8%;
}

.read-form {
    .create-form;
}

table {
    margin:4% 0 0 25%;
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 5px;
    border-bottom: 1px solid #aaa;
}

// Update user page
.update-header {
    margin-top: 8%;
}

.update-table {
    margin: 0 0 5% 22%;
}

// Update single
.edit-single {
    .create-h2;
}

.update-form {
    .create-form;
}

// Delete
.delete-header {
    .create-h2;
}

.delete-table {
    margin: 0 0 5% 21%;
}